* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

/* utility classes  */
.flex {
    display: flex;
}

/* Header */

.logo {
    display: flex;
    justify-content: start;
    gap: 50px;
    padding: 20px 10px;
    color: black;

}

.logo a {
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
    text-decoration: none;
}

.logo a:hover {
    color: rgb(98, 98, 255);
}

.logo .directions_car, .apartment {
    margin: 5px;
    padding: 6px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(165, 165, 165), rgb(219, 219, 219), white);
    font-size: 30px;
}

.logo_motors_property {}

.location_input_buttons {
    /* padding: 10px 0; */
    display: flex;
    /* justify-content: center; */
}

.location_select {
    /* width: 250px; */
}

.location {
    width: 350px;
    border-radius: 5px;
    height: 40px;
    padding: 10px;
}

.login_sell_button {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.login_sell_button a {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.sell_btn {
    border-radius: 60px;
    border: 5px solid black;
    padding: 5px 15px;
}

.login_btn {
    padding: 10px;
}

.nav_ {
    padding: 20px 0;
    /* background-color: rgb(233, 233, 233); */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.olxMotors {
    margin: 0 20px 0 5px;
    font-size: larger;
    font-weight: 700;
}

.nav_items a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

.car-options_sec {
    position: relative;
    background-color: yellow;
    height: 220px;
    padding: 5px;
}

.find-cars {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.51);
    top: 110px;

}

.car-options a, i {
    text-decoration: none;
    color: black;
    font-size: medium;
}

.all_options {
    display: flex;
    margin-top: 20px;
}

.all_options a {
    font-size: larger;
    margin-right: 10px;
}

.option {
    display: flex;
    align-items: center;
    background-color: rgb(252, 250, 161);
    border-radius: 30px;
    padding: 8px 20px;
}

.option span {
    margin-right: 8px;
}

.find-cars {
    padding: 40px;
}

.search-by-model {
    width: 340px;
    border-radius: 5px;
}

.search_make_model {
    color: black;
    padding-left: 30px;
}

.inp_search {
    position: absolute;
    top: 46px;
    left: 10px;
    color: gray;
}

.search_fields_sec {
    position: relative;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.find_search_btn {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    font-size: larger;
    font-weight: 500;
}

.find_search_btn i {
    margin-right: 5px;
    color: rgb(255, 255, 255);
    font-size: large;
}

/* explore_section */

.explore_section {
    margin-top: 150px;
}

.mt {
    margin-top: 20px;
}

.explore_options .flex {
    /* justify-content: center; */
    align-items: center;
}

.explore_options a {
    text-decoration: none;
    color: black;
}

.explore_options .txt p {
    color: gray;
}

.explore_options .txt h5:hover {
    color: blue;
}

.explore_options .img {
    color: black;
    padding: 20px;
    border-radius: 5%;
    background-color: rgb(255, 243, 220);
    margin-right: 10px;
}

/* Browse by categories */

.car_logos {
    flex-wrap: wrap;
}

.cars {
    margin: 10px;
    padding: 5px;
    width: 160px;
    height: 52px;
    border: 1px solid gray;
}